$border: 1px solid rgb(212, 212, 212);

.wrapper {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: row;
  height: 50px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.scenerySelect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0px;
  padding: 0px 18px;
  border-right: $border;

  select {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    padding: 6px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    option {
      color: black;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 8px 0px;
  cursor: pointer;

  .icon {
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.vr {
  border-right: $border;

  .icon {
    background-image: url('/icons/vr.svg');
    background-size: 28px;
  }
}

.translate {
  .icon {
    background-image: url('/icons/translate.svg');
    background-size: 30px;
  }
}

.rotate {
  border-right: $border;

  .icon {
    background-image: url('/icons/rotate.svg');
    background-size: 30px;
    background-position-y: 9px;
  }
}

.reset {
  .icon {
    background-image: url('/icons/reset.svg');
    background-size: 25px;
  }
}

.active {
  .icon {
    opacity: 0.3;
  }
}
